@using Sitecore.Mvc
@using Sitecore.Mvc.Analytics.Extensions
@using Sitecore.Mvc.Presentation
@model RenderingModel
@{
    Layout = null;
}


<!DOCTYPE html>
<!--[if IE 9]><html lang="en" class="ie9 no-js"><![endif]-->
<!--[if !IE]><!-->
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <title>@Html.Sitecore().Field("ContentHeading", new { DisableWebEdit = true })</title>
    <link rel="stylesheet" type="text/css" href="Css/vendor.min.css" />
    <link rel="stylesheet" type="text/css" href="Css/niteflight.min.css" />
    <link rel="stylesheet" type="text/css" href="Css/addition.css">
    <link rel="stylesheet" type="text/css" href="Css/font-awesome.min.css">
    @Html.Sitecore().VisitorIdentification()
</head>
<body class="header-static ">
    <div id="main-container">
        <!-- [Page Header] -->
        <header class="header-static">
            @*@Html.Sitecore().Rendering("/sitecore/layout/Renderings/TAC/Vu/HeaderFull")*@
            @Html.Sitecore().Placeholder("vuheader")
        </header>
        <!-- [/Page Header] -->
        <!-- [Page Content] -->
        <main>
            @Html.Sitecore().Placeholder("vumain")
        </main>
        <!-- [/Page Content] -->
        <!-- [Footer Content] -->
        <footer>
            @Html.Sitecore().Rendering("{8026B487-5726-4796-A4EB-039FA0769B54}")
        </footer>
        <!-- [/Footer Content] -->
    </div>
    <script src="Scripts/Sitecore.Foundation.Theming.min.js"></script>
    <script src="Scripts/Navigation.js"></script>
</body>
</html>